section.sec-1{
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    

    header{
        width: 100%;
        height: 60px;
        position: absolute;
        z-index: 1;
        @include center();
        font-family: "Poppins", sans-serif;
        nav{
            width: 80%;
            height: 60px;
            @include sb();
            .logo{
                text-transform: uppercase;
            }
            .panel{
                width: 50%;
                ul{
                    li{}
                    @include sa();
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        color: white;
                    }
                }
            
            }
        }
    }
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    background-color:#265bfb;
    top: 0;
    left: 0;
}
.container{
    width: 100%;
    height: 70%;
    margin: auto;
    z-index: 1;
    @include sb();
    .text{
        width: 50%;
        height: 100%;
        @include column();
        div{
            width: 70%;
            height: 130px;
            @include center();
            h1{
                font-size: 2.9em;
                text-align: center;
                font-family: "Poppins", sans-serif;
                font-weight: 800;
                text-transform: capitalize;
                line-height: 1.5;
            }
            p{
                line-height: 30px;
                margin-left:45px ;
            }
            button{
                padding: 16px 30px;
                text-transform: capitalize;
                border-radius: 5px;
                background: transparent;
                border: 2px solid #fff;
                color: #fff;
            }
            button:hover{
                background-color: white;
                color: blue;
                transition: 0.5s;
            }
        }
    }
    .photo{
        width: 50%;
        height: 120%;
        img{
        margin-left: 175px;
        height: 650px;
        }
    }
}