@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin sa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-end {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
@mixin flex-start {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
@mixin column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}